<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="shortcut icon" href="img/page-common/favicon.ico" type="image/x-icon" />
<title>果然新鲜 - 鲜人一步，想你所想！</title>
<link rel="stylesheet" type="text/css" href="css/page-common.css" />
<link rel="stylesheet" type="text/css" href="css/page-index.css" />
<!-- 轮播图插件 -->
<link rel="stylesheet" type="text/css" href="plugins/slick/slick.min.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick-theme.min.css" />
</head>

<body>
<!-- 网页头部开始 -->

<!--引入公共head-->
<div th:replace="@{/commons/header}::head"></div>
<!--引入公共head-->

<!-- 网页头部结束 -->

<!-- 轮播区开始 -->
<div class="fresh-main-fluid banner">
  <div class="fresh-main fresh-center fresh-clearfix">
    <div class="fresh-left">
      <div class="category">
        <ol class="category-list">

          <li class="category-item" th:each="one:${itemCats1}">
            <div class="category-item-bg">
              <div class="category-info"> <p class="head"> <a href="#" th:text="${one.name}">新鲜水果</a> </p>
                <span class="bottom">
                  <a th:each="two:${itemCats2}" th:onmouseover="|listByParentId(${two.id},${one.id});|" th:if="${one.id==two.parentId}" href="#" class="subtitle" th:text="${two.name}">柚子</a>
                </span>
              </div>
            </div>
            <div class="category-panels category-panels-3">
              <ul class="subcate-list clearfix" th:id="|three_li_1_${one.id}|">
<!--                <li class="subcate-item"><a href="#" target="_blank"><img data-original="img/page-index/xg1.png"><span>鲜橙</span> </a></li>-->
              </ul>
              <ul class="subcate-list clearfix" th:id="|three_li_2__${one.id}|">

              </ul>
              <ul class="subcate-list clearfix">
                <li class="subcate-btn"> <a href="#" target="_blank">查看全部</a> </li>
              </ul>
            </div>
          </li>

        </ol>
      </div>
    </div>
    <div class="fresh-right">
      <div class="ec-slider-middle"> <a class="button-slider-prev" href="#"></a> <a class="button-slider-next" href="#"></a> </div>
      <div class="ec-slider-nav"></div>
    </div>

    <!-- 精准扶贫样式开始 -->
	<style type="text/css">
		.poor {
			position: absolute;
			width: 220px;
			height: 55px;
			top: 0;
			right: 10px;
			z-index: 99999;
			background: url(img/page-index/fupin_zh.jpg) no-repeat;
			opacity: .9;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	</style>
    <!-- 精准扶贫样式结束 -->

    <!-- 精准扶贫网页开始 -->
    <div class="poor"></div>
    <!-- 精准扶贫网页结束 -->
  </div>
  <div class="ec-silder">
    <ul class="ec-silder-list">
      <li th:each="c:${top_loop_contents}"> <a href="#"><img th:src="${c.image}" width="100%" height="100%" /> </a> </li>
     <!-- <li> <a href="#"> <img data-original="img/page-index/banner1.jpg" width="100%" height="100%" /> </a> </li>
      <li> <a href="#"> <img data-original="img/page-index/banner2.jpg" width="100%" height="100%" /> </a> </li>
      <li> <a href="#"> <img data-original="img/page-index/banner3.jpg" width="100%" height="100%" /> </a> </li>
      <li> <a href="#"> <img data-original="img/page-index/banner4.jpg" width="100%" height="100%" /> </a> </li>-->
    </ul>
  </div>
</div>
<!-- 轮播区结束 -->

<!-- 导航条开始 -->
<div class="fresh-main-fluid usernav">
  <!-- 遮罩层 -->
  <div class="mask"> <span></span> </div>

  <!-- 用户导航区 -->
  <div class="fresh-main fresh-center fresh-clearfix nav">
    <div class="home-channel-main">
      <ul class="home-channel-list fresh-clearfix home-channel-img6">
        <li class="fl s1">
          <div id="gg_unlogin" class="i-mall-prompt fresh-clearfix">
            <div class="relative fl w-name"> <img data-original="img/page-index/user.png"> </div>
            <div class="fl">
              <div id="gg_login_url" class="w-reg"> 您好！请 <a href="login.html" title="登录">登录</a> <span>&nbsp;/&nbsp;</span> <a href="register.html" title="注册">注册</a> </div>
              <div class="w-btn"> <a class="new" href="#" target="_blank" title="新人福利">新人福利</a> <a class="vip" href="#" target="_blank" title="会员频道">会员频道</a> </div>
            </div>
          </div>
        </li>
        <li class="fl s2">
          <ul class="fresh-clearfix" title="我的订单">
            <li> <a href="home-order.html" target="_blank">
              <div class="p-img"> <img class="img0" data-original="img/page-index/icon-usernav-small.png"> </div>
              <div class="p-dec">我的订单</div>
              </a> </li>
            <li> <a href="home-person-footprint.html" target="_blank" title="我的足迹">
              <div class="p-img"> <img class="img1" data-original="img/page-index/icon-usernav-small.png"> </div>
              <div class="p-dec">我的足迹</div>
              </a> </li>
            <li> <a href="home-person-info.html" target="_blank" title="个人中心">
              <div class="p-img"> <img class="img2" data-original="img/page-index/icon-usernav-small.png"> </div>
              <div class="p-dec">个人中心</div>
              </a> </li>
            <li> <a href="#" target="_blank" title="会员领券">
              <div class="p-img"> <img class="img3" data-original="img/page-index/icon-usernav-small.png"> </div>
              <div class="p-dec">会员领券</div>
              </a> </li>
            <li> <a href="#" target="_blank" title="企业采购">
              <div class="p-img"> <img class="img4" data-original="img/page-index/icon-usernav-small.png"> </div>
              <div class="p-dec">企业采购</div>
              </a> </li>
            <li> <a href="feedback.html" target="_blank" title="问题反馈">
              <div class="p-img"> <img class="img5" data-original="img/page-index/icon-usernav-small.png"> </div>
              <div class="p-dec">问题反馈</div>
              </a> </li>
          </ul>
        </li>
        <li class="fl s3">
          <div class="p-notice fresh-clearfix">
            <div class="icon-notice fl"> <a href="#" title="商城公告"> <span>公告</span> </a> </div>
            <div class="p-notice-content" id="notice"> <a href="#" target="_blank">果然新鲜微信小程序上线啦!</a> </div>
          </div>
          <div class="p-info">
            <ul class="fresh-clearfix">
              <li> <a href="#" target="_blank" title="扫码关注"> <span><img class="img0" data-original="img/page-index/icon-usernav-small.png"></span>扫码关注 </a> </li>
              <li> <a href="#" target="_blank" title="实名认证"> <span><img class="img1" data-original="img/page-index/icon-usernav-small.png"></span>实名认证 </a> </li>
              <li> <a href="#" target="_blank" title="补购保障"> <span><img class="img2" data-original="img/page-index/icon-usernav-small.png"></span>补购保障 </a> </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <!-- 网站说明开始 -->
    <div class="fresh-main fresh-center fresh-clearfix explain">
      <ul>
        <li> <img data-original="img/page-index/explain1.png" />
          <div class="right"> <p>食品安全</p> <p>精选生鲜&nbsp;严格质检</p> </div>
        </li>
        <li> <img data-original="img/page-index/explain2.png" />
          <div class="right"> <p>全程冷链</p> <p>自营物流&nbsp;安全可控</p> </div>
        </li>
        <li> <img data-original="img/page-index/explain3.png" />
          <div class="right"> <p>鲜活天然</p> <p>绿色生态&nbsp;果然精选</p> </div>
        </li>
        <li> <img data-original="img/page-index/explain4.png" />
          <div class="right"> <p>产地直采</p> <p>限定产源&nbsp;质量保证</p> </div>
        </li>
        <li> <img data-original="img/page-index/explain5.png" />
          <div class="right"> <p>无忧售后</p> <p>优质服务&nbsp;售后通道</p> </div>
        </li>
      </ul>
    </div>
    <!-- 网站说明结束 -->
  </div>
</div>
<!-- 导航条结束 -->

<!-- 频道区开始 -->
<div class="fresh-main-fluid fresh-list">
  <div class="fresh-main fresh-center fresh-clearfix">
    <!-- 果然生鲜开始 -->
    <div class="head"></div>
    <!-- 果然生鲜结束 -->

    <!-- 水果模块开始 -->
    <div class="model-panel">
      <div class="t">
        <div class="more fruits-more-bg">
          <h4 class="title">新鲜水果</h4>
          <p class="subtitle">应时而采，新鲜特供</p>
          <div class="keys fresh-clearfix"> <a href="#">车厘子</a> <a href="#">草莓</a> <a href="#">猕猴桃</a> <a href="#">哈密瓜</a> <a href="#">菠萝</a> <a href="#">牛油果</a> </div>
          <a href="#" class="other">更多商品</a> </div>
        <div class="big"> <a href="#"> <img data-original="img/page-index/5982d8c6N279ff1cf11.gif" width="100%" height="100%" /> </a> </div>
        <div class="small"> <a href="#"> <img data-original="img/page-index/5982d8c6N279ff1cf111-right.png" width="103%" height="100%" class="border-top-right-radius-60" /> </a> </div>
      </div>
      <div class="b">
        <div class="goods_item" th:each="f:${goods_fruits}">
          <!-- Image -->
          <a href="#" class="goods_item_link fruits-hover">
            <img class="goods_item_img" th:src="${f.image}" /> <p class="goods_item_name" th:text="${f.name}">爱奇果 新疆库尔勒香梨 总重量约2.5kg 精选特级大果 新鲜水果</p> </a>
          <!-- Info -->
          <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span><span th:text="${f.price}">64.90</span></p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p>
        </div>
      </div>
    </div>
    <!-- 水果模块结束 -->

    <!-- 海鲜模块开始 -->
    <div class="model-panel">
      <div class="t">
        <div class="small model-panel-left border-top-right-radius-none"> <a href="#"> <img data-original="img/page-index/5982d8c6N279ff1cf444-left.png" width="103%" height="100%" class="border-top-left-radius-60" /> </a> </div>
        <div class="more fresh-right border-top-left-radius-none border-top-right-radius seafood-more-bg">
          <h4 class="title">海鲜水产</h4>
          <p class="subtitle">新鲜海货，即时享受</p>
          <div class="keys fresh-clearfix"> <a href="#">小龙虾</a> <a href="#">螃蟹</a> <a href="#">海参</a> <a href="#">扇贝</a> <a href="#">活鲜</a> <a href="#">虾类</a> </div>
          <a href="#" class="other seafood-default-color">更多商品</a> </div>
        <div class="big fresh-right"> <a href="#"> <img data-original="img/page-index/5982d8c6N279ff1cf44.gif" width="100%" height="100%" /> </a> </div>
      </div>
      <div class="b">
        <div class="goods_item" th:each="f:${goods_sea}">
        <!-- Image -->
        <a href="#" class="goods_item_link fruits-hover">
          <img class="goods_item_img" th:src="${f.image}" /> <p class="goods_item_name" th:text="${f.name}">爱奇果 新疆库尔勒香梨 总重量约2.5kg 精选特级大果 新鲜水果</p> </a>
        <!-- Info -->
        <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span><span th:text="${f.price}">64.90</span></p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p>
      </div>
      </div>
    </div>
    <!-- 海鲜模块结束 -->

    <!-- 肉品模块开始 -->
    <div class="model-panel">
      <div class="t">
        <div class="more meat-more-bg">
          <h4 class="title">肉禽蛋品</h4>
          <p class="subtitle">肉香四溢，大快朵颐</p>
          <div class="keys fresh-clearfix"> <a href="#">猪肉</a> <a href="#">鸡翅</a> <a href="#">熟食</a> <a href="#">牛排</a> <a href="#">羊肉</a> <a href="#">冷鲜肉</a> </div>
          <a href="#" class="other meat-default-color">更多商品</a> </div>
        <div class="big"> <a href="#"> <img data-original="img/page-index/5982d8c6N279ff1cf55.gif" width="100%" height="100%" /> </a> </div>
        <div class="small"> <a href="#"> <img data-original="img/page-index/5982d8c6N279ff1cf555.png" width="103%" height="100%" class="border-top-right-radius-60" /> </a> </div>
      </div>
      <div class="b">
        <div class="goods_item">
          <!-- Image -->
          <a href="#" class="goods_item_link meat-hover"> <img class="goods_item_img" data-original="img/page-index/rl1.jpg" /> <p class="goods_item_name">绿之邦 牛腩块2kg 牛肉进口谷草饲 4斤包邮 生鲜</p> </a>
          <!-- Info -->
          <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span>94.00</p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p> </div>
        <div class="goods_item">
          <!-- Image -->
          <a href="#" class="goods_item_link meat-hover"> <img class="goods_item_img" data-original="img/page-index/rl2.jpg" /> <p class="goods_item_name">俏侬 牛油蛋挞皮 1020g 51个装烘焙食材 蛋挞烘焙原料（新老包装随机发货）</p> </a>
          <!-- Info -->
          <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span>24.80</p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p> </div>
        <div class="goods_item">
          <!-- Image -->
          <a href="#" class="goods_item_link meat-hover"> <img class="goods_item_img" data-original="img/page-index/rl3.jpg" /> <p class="goods_item_name">养乐多 活菌型乳酸菌饮料 100ml*5（一排5瓶） 原味（2件起售）</p> </a>
          <!-- Info -->
          <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span>12.90</p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p> </div>
        <div class="goods_item">
          <!-- Image -->
          <a href="#" class="goods_item_link meat-hover"> <img class="goods_item_img" data-original="img/page-index/rl4.jpg" /> <p class="goods_item_name">【满199减100】美享 手工整切牛排10片装 进口牛肉手工整切黑椒西冷牛扒 生鲜</p> </a>
          <!-- Info -->
          <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span>139.00</p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p> </div>
        <div class="goods_item">
          <!-- Image -->
          <a href="#" class="goods_item_link meat-hover"> <img class="goods_item_img" data-original="img/page-index/rl5.jpg" /> <p class="goods_item_name">卡士 CLASSY.KISS 原态酪乳125g*3</p> </a>
          <!-- Info -->
          <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span>30.80</p> <p class="goods_item_collection meat-hover"> <a href="#">收藏</a> </p> </p> </div>
        <div class="goods_item">
          <!-- Image -->
          <a href="#" class="goods_item_link meat-hover"> <img class="goods_item_img" data-original="img/page-index/rl6.jpg" /> <p class="goods_item_name">必品阁（bibigo）菌菇三鲜王饺子 490g（水饺 煎饺 蒸饺 锅贴 早餐食材）</p> </a>
          <!-- Info -->
          <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span>23.90</p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p> </div>
      </div>
    </div>
    <!-- 肉品模块结束 -->

    <!-- 广告轮播区域开始 -->
    <div class="sub_banner">
      <ul id="sub_banner">
        <li th:each="pic:${middle_loop_contents}"> <a href="#"> <img th:src="${pic.image}" /> </a> </li>
      </ul>
    </div>
    <!-- 广告轮播区域结束 -->

    <!-- 粮油和蔬菜开始 -->
    <div class="fresh-main-fluid fresh-clearfix">
      <!-- 蔬菜模块开始 -->
      <div class="model-panel sub-model-panel-size fresh-left">
        <div class="t">
          <div class="more vegetables-more-bg">
            <h4 class="title">新鲜蔬菜</h4>
            <p class="subtitle">来自田间，清香犹存</p>
            <div class="keys fresh-clearfix"> <a href="#">绿叶菜</a> <a href="#">地瓜</a> <a href="#">泡菜</a> <a href="#">玉米</a> <a href="#">山药</a> <a href="#">南瓜</a> </div>
            <a href="#" class="other vegetables-default-color">更多商品</a> </div>
          <div class="small position-left"> <a href="#"> <img data-original="img/page-index/5982d8c6N279ff1cf333.png" width="98%" height="100%" class="border-top-right-radius-60" /> </a> </div>
        </div>
        <div class="b">
          <div class="goods_item sub_goods_item">
            <!-- Image -->
            <a href="#" class="goods_item_link vegetables-hover"> <img class="goods_item_img" data-original="img/page-index/sc1.jpg" /> <p class="goods_item_name">【现货 出口级一级货】松茸礼盒（S级 长度约5-7cm）500g 香格里拉原产地空运直发</p> </a>
            <!-- Info -->
            <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span>279.00</p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p> </div>
          <div class="goods_item sub_goods_item">
            <!-- Image -->
            <a href="#" class="goods_item_link vegetables-hover"> <img class="goods_item_img" data-original="img/page-index/sc2.jpg" /> <p class="goods_item_name">绿鲜知 云南甜玉米 水果玉米 约2.5kg 6-9根 烧烤食材 新鲜蔬菜</p> </a>
            <!-- Info -->
            <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span>29.90</p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p> </div>
          <div class="goods_item sub_goods_item">
            <!-- Image -->
            <a href="#" class="goods_item_link vegetables-hover"> <img class="goods_item_img" data-original="img/page-index/sc3.jpg" /> <p class="goods_item_name">【加冰顺丰空运】2019新鲜太空水果莲蓬 洪湖新鲜莲蓬 嫩莲蓬鲜莲子带莲蓬 现摘现发2斤装包邮</p> </a>
            <!-- Info -->
            <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span>58.80</p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p> </div>
        </div>
      </div>
      <!-- 蔬菜模块结束 -->

      <!-- 粮油模块开始 -->
      <div class="model-panel sub-model-panel-size fresh-right">
        <div class="t">
          <div class="more oil-more-bg">
            <h4 class="title">冷冻饮品</h4>
            <p class="subtitle">速冻美味，乐享生活</p>
            <div class="keys fresh-clearfix"> <a href="#">水饺</a> <a href="#">方便菜</a> <a href="#">酸奶</a> <a href="#">蛋糕</a> <a href="#">冰淇淋</a> <a href="#">手抓饼</a> </div>
            <a href="#" class="other oil-default-color">更多商品</a> </div>
          <div class="small position-left"> <a href="#"> <img data-original="img/page-index/5982d8c6N279ff1cf222-right.png" width="98%" height="100%" class="border-top-right-radius-60" /> </a> </div>
        </div>
        <div class="b">
          <div class="goods_item sub_goods_item">
            <!-- Image -->
            <a href="#" class="goods_item_link oil-hover"> <img class="goods_item_img" data-original="img/page-index/ds1.jpg" /> <p class="goods_item_name">恒慧 精肉培根1kg 早餐西餐 火锅烧烤披萨烤肉手抓饼食材</p> </a>
            <!-- Info -->
            <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span>36.90</p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p> </div>
          <div class="goods_item sub_goods_item">
            <!-- Image -->
            <a href="#" class="goods_item_link oil-hover"> <img class="goods_item_img" data-original="img/page-index/ds2.jpg" /> <p class="goods_item_name">小龙坎 千层肚200g 火锅食材 白毛肚四川麻辣烫生鲜涮火锅精选配菜 串串香</p> </a>
            <!-- Info -->
            <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span>35.80</p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p> </div>
          <div class="goods_item sub_goods_item">
            <!-- Image -->
            <a href="#" class="goods_item_link oil-hover"> <img class="goods_item_img" data-original="img/page-index/ds3.jpg" /> <p class="goods_item_name">幸福西饼 生日蛋糕草莓蓝莓果酱花镜蛋糕可可巧克力芝士奶油慕斯蛋糕多口味下午</p> </a>
            <!-- Info -->
            <p class="goods_item_info"> <p class="goods_item_price"> <span>￥</span>129.00</p> <p class="goods_item_collection"> <a href="#">收藏</a> </p> </p> </div>
        </div>
      </div>
      <!-- 粮油模块结束 -->
    </div>
    <!-- 粮油和蔬菜结束 -->
  </div>
</div>
<!-- 频道区结束 -->

<!-- 用户评论开始 -->
<div class="fresh-main-fluid comment">
  <!-- 标题 -->
  <div class="fresh-main fresh-center fresh-clearfix">
    <div class="head"></div>
  </div>

  <!-- 列表 -->
  <div class="comment-center comment-list">
    <div class="comment-item">
      <div class="person-logo"> <img data-lazy="img/page-index/touxiang1.jpg" /> <p>VIPSHOP</p> </div>
      <div class="content">
        <div class="l"> <img data-lazy="img/page-index/p-shop1.jpg" /> </div>
        <div class="r"> <p>全部吃完了来评价的，没有发现腐坏、有异味的情况，东西蛮新鲜的，比同批买的麻辣味的好吃，五星好评比同批买的麻辣味的好吃，五星好评，和描述一样！下次再来。</p>
          <time>发表时间：2019-09-21 15:29:23</time>
        </div>
      </div>
    </div>
    <div class="comment-item">
      <div class="person-logo"> <img data-lazy="img/page-index/touxiang2.jpg" /> <p>顾雨若情</p> </div>
      <div class="content">
        <div class="l"> <img data-lazy="img/page-index/p-shop2.jpg" /> </div>
        <div class="r"> <p>真的非常好吃，物流也给力，不错，第一次购买，物超所值，对的起这个价格，个大水多，口感好，以后还会关注，推荐大家购买。</p>
          <time>发表时间：2019-09-21 15:29:23</time>
        </div>
      </div>
    </div>
    <div class="comment-item">
      <div class="person-logo"> <img data-lazy="img/page-index/touxiang3.jpg" /> <p>各自安好</p> </div>
      <div class="content">
        <div class="l"> <img data-lazy="img/page-index/p-shop3.jpg" /> </div>
        <div class="r"> <p>东西下单后，两天就到了，迫不及待地打开包装，发现土豆很新鲜，个个还完好无损。为了验证够不够斤数，还特意搁在称体重的电子秤上面称了一下，足斤足两的非常够数量。东西还没有来得及吃，等明天吃了，再来追加评论。一次愉快的体验！</p>
          <time>发表时间：2019-09-21 15:29:23</time>
        </div>
      </div>
    </div>
    <div class="comment-item">
      <div class="person-logo"> <img data-lazy="img/page-index/touxiang4.jpg" /> <p>半夏成殇</p> </div>
      <div class="content">
        <div class="l"> <img data-lazy="img/page-index/p-shop4.jpg" /> </div>
        <div class="r"> <p>竹笋收到了，竹笋新鲜，好大的两包竹笋，份量足，包装完好，很满意的一次购买，还没有吃，吃完再来买，发货快，快递小哥服务态度好。贴心，五星好评！</p>
          <time>发表时间：2019-09-21 15:29:23</time>
        </div>
      </div>
    </div>
    <div class="comment-item">
      <div class="person-logo"> <img data-lazy="img/page-index/touxiang5.jpg" /> <p>幻囮成风</p> </div>
      <div class="content">
        <div class="l"> <img data-lazy="img/page-index/p-shop5.jpg" /> </div>
        <div class="r"> <p>味道很好，非常好吃。快递很快，可以试试这家，习惯性好评！肉质很好，解馋必备，下饭必备，哈哈哈哈哈哈哈哈哈哈哈哈！够五十字了吗？</p>
          <time>发表时间：2019-09-21 15:29:23</time>
        </div>
      </div>
    </div>
    <div class="comment-item">
      <div class="person-logo"> <img data-lazy="img/page-index/touxiang6.jpg" /> <p>思念浊成酒酿</p> </div>
      <div class="content">
        <div class="l"> <img data-lazy="img/page-index/p-shop6.jpg" /> </div>
        <div class="r"> <p>早上收到的宝贝，立刻拿出来看了，挺好的，拿了一块肉很厚，性价比很高，比超市便宜多了，我们中午煮了烤鱼排，非常好吃，家人都喜欢吃，这次一共买了两份，吃完了以后还会继续买，因为我们全家都非常喜欢吃，物流也非常快，不错 今后长期光顾</p>
          <time>发表时间：2019-09-21 15:29:23</time>
        </div>
      </div>
    </div>
    <div class="comment-item">
      <div class="person-logo"> <img data-lazy="img/page-index/touxiang7.jpg" /> <p>仅有の依赖</p> </div>
      <div class="content">
        <div class="l"> <img data-lazy="img/page-index/p-shop7.jpg" /> </div>
        <div class="r"> <p>很好很满意，收到一点都没化，快递小哥很热情的帮忙送上楼，很喜欢吃巴沙鱼老人小孩不用担心有刺，买一色酸菜鱼材料包和一些辅料下锅一煮方便又美味经常买鱼肉回来，不管是做水煮鱼还是给孩子做番茄鱼炸鱼肉都非常适合，鱼肉很新鲜，冰也很少，比超市划算多了，还是单个袋子包装用起来也很方便。宝贝量足新鲜，能闻出生鲜海味，肉体见粉色，这是我买到的最新鲜的一次巴沙鱼，会回购的。五星好评！</p>
          <time>发表时间：2019-09-21 15:29:23</time>
        </div>
      </div>
    </div>
    <div class="comment-item">
      <div class="person-logo"> <img data-lazy="img/page-index/touxiang8.jpg" /> <p>国产逗比</p> </div>
      <div class="content">
        <div class="l"> <img data-lazy="img/page-index/p-shop8.jpg" /> </div>
        <div class="r"> <p>包装非常专业，虽然还来不及品尝鲜美鱼子，但一定不会差。快递小哥送货及时，给赞。</p>
          <time>发表时间：2019-09-21 15:29:23</time>
        </div>
      </div>
    </div>
    <div class="comment-item">
      <div class="person-logo"> <img data-lazy="img/page-index/touxiang9.jpg" /> <p>我没挽留你没回头</p> </div>
      <div class="content">
        <div class="l"> <img data-lazy="img/page-index/p-shop9.jpg" /> </div>
        <div class="r"> <p>很满意。店家做的挺到位，对客户很负责，从货物的包装就能看出来，谢谢了。希望老板生意兴隆。</p>
          <time>发表时间：2019-09-21 15:29:23</time>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 用户评论结束 -->

<!-- 网页底部开始 -->
<script type="text/javascript" src="js/page-footer.js" charset="UTF-8"></script>
<!-- 网页底部结束 -->

<script type="text/javascript" src="plugins/jquery/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="plugins/lazyload/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="plugins/slick/slick.min.js"></script>
<script type="text/javascript" src="js/page-index.js"></script>

<!-- 右侧导航栏样式开始 -->
<link rel="stylesheet" type="text/css" href="css/page-sidebar-plugin.css" />
<!-- 右侧导航栏样式结束 -->

<!-- 右侧导航栏代码开始 -->
<div class="sidebar-fixed-wrapper js-sidebar-fixed">
  <div class="details-sidebar-fixed-box js-details-sidebar" style="opacity: 1; visibility: visible;">
    <div class="sidebar-fixed_box collect-middle-icon js-project-fav" onclick="location.href='home-person-collection.html'">
      <div class="sidebar-fixed_warm-prompt">我的收藏</div>
    </div>
    <div class="sidebar-fixed_box comments-middle-icon js-write-comments" onclick="location.href='feedback.html'">
      <div class="sidebar-fixed_warm-prompt">问题反馈</div>
    </div>
    <div class="sidebar-fixed_box like-icon js-details-common-recommend normal" id="sidebar-recommend" onclick="qqZone()">
      <div class="sidebar-fixed_warm-prompt">分享网站</div>
    </div>
  </div>
  <div class="back-to-top sidebar-fixed_box" id="shortcut_totop" style="display: block;"></div>
</div>
<!-- 右侧导航栏代码结束 -->

<!-- 右侧导航栏脚本开始 -->
<script type="text/javascript" src="js/page-sidebar-plugin.js"></script>
<!-- 右侧导航栏脚本结束 -->
<script type="text/javascript">

  function listByParentId(id,oneId) {
    $.getJSON("/listByParentId/"+id,function (result) {
      //alert(JSON.stringify(result));
      var itemCats3=result.data;
      $("#three_li_1_"+oneId).html("");
      $("#three_li_2_"+oneId).html("");
      for(var i=0;i<itemCats3.length;i++){
        var three=itemCats3[i];
        $("#three_li_1_"+oneId).append("<li class='subcate-item'><a href='#' target='_blank'><img src='"+three.image+"'><span>"+three.name+"</span></a></li>");
        if(i>3){
          $("#three_li_2_"+oneId).append("<li class='subcate-item'><a href='#' target='_blank'><img src='"+three.image+"'><span>"+three.name+"</span></a></li>");
        }
      }
    });
  }

</script>
</body>
</html>