<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>内容管理</title>
<!-- Page basic information -->
<meta name="description" content="{{adminConfig.description}}">
<meta name="keywords" content="{{adminConfig.keywords}}">
<meta name="author" content="{{adminConfig.author}}">
<!-- Page icon information -->
<link rel="shortcut icon" href="/favicon.ico" />
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap -->
<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
<!-- Font-Awesome -->
<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="/plugins/ionicons/css/ionicons.min.css">
<!-- Roboto -->
<link rel="stylesheet" href="/plugins/roboto/css/roboto.min.css">
<!-- AdminLTE -->
<link rel="stylesheet" href="/plugins/adminlte/css/adminlte.min.css">
<!-- AdminLTE skins -->
<link rel="stylesheet" href="/plugins/adminlte/css/skins/_all-skins.min.css">
<!-- zeroModal -->
<link rel="stylesheet" href="/plugins/zeroModal/css/zeroModal.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="/plugins/iCheck/all.min.css">
<!-- Paging -->
<link rel="stylesheet" href="/plugins/tm-pagination/css/pagination.min.css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script type="text/javascript" src="/plugins/html5shiv/html5shiv.min.js"></script>
  <script type="text/javascript" src="/plugins/respond/respond.min.js"></script>
<![endif]-->
</head>
<body class="hold-transition {{adminConfig.theme}} sidebar-mini">
	<!-- Page Wrapper Start -->
	<div class="wrapper">
		<!-- Box Header Start -->
		<div class="box-header with-border">
			<ul class="breadcrumb" style="margin-bottom: 0px;">
				<li><a href="javascript:;" onclick="window.location.href='welcome.html';">后台首页</a></li>
				<li><a href="javascript:;" onclick="window.location.reload();">内容列表</a></li>
			</ul>
		</div>
		<!-- Box Header End -->

		<!-- Box Body Start -->
		<div class="box-body">
			<!-- Tool Start -->
			<div class="clearfix" style="margin-bottom: 10px">
				<div class="pull-left">
					<div class="input-group input-group-sm">
						<div class="btn-group">
							<button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#addModal" ng-click="entity={}">
								<i class="fa fa-plus"></i> 新建
							</button>
							<button type="button" class="btn btn-default" title="删除" ng-click="deleteList()">
								<i class="fa fa-trash"></i> 删除
							</button>
							<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();">
								<i class="fa fa-refresh"></i> 刷新
							</button>
						</div>
					</div>
				</div>
				<form id="queryForm" method="post" action="/content/page/1">
					<div class="pull-right">
						<div class="input-group input-group-sm" style="width: 150px;">
							<input type="text" class="form-control pull-right" name="title" placeholder="广告名称" th:value="${title}">

							<div class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				  </div>
			</form>
			<!-- Tool End -->

			<!-- Data Start -->
			<table class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<td style="vertical-align: middle; text-align: center;"></td>
						<th style="vertical-align: middle; text-align: center;">广告主键</th>
						<th style="vertical-align: middle; text-align: center;">广告标题</th>
						<th style="vertical-align: middle; text-align: center;">广告类别</th>
						<th style="vertical-align: middle; text-align: center;">广告地址</th>
						<th style="vertical-align: middle; text-align: center;">广告图片</th>
						<th style="vertical-align: middle; text-align: center;">广告排序</th>
						<th style="vertical-align: middle; text-align: center;">广告状态</th>
						
						<th style="vertical-align: middle; text-align: center;">操作</th>
					</tr>
				</thead>
				<tbody>
				<tr th:each="content:${pageUtils.records}">
						<td style="vertical-align: middle; text-align: center;">
							<input type="checkbox" ng-click="selectOne($event,entity.id)" style="width: 16px; height: 16px; cursor: pointer;"></td>
						<td style="vertical-align: middle; text-align: center;" th:text="${content.id}">XXX</td>
						<td style="vertical-align: middle; text-align: center;" th:text="${content.title}">XX</td>
						<td style="vertical-align: middle; text-align: center;" th:text="${content.categoryName}">XX</td>
						<td style="vertical-align: middle; text-align: center;"><a th:href="${content.url}" target="_blank" th:text="${content.url}">XXX</a></td>
						<td style="vertical-align: middle; text-align: center;"><img th:src="${content.image}" width="500px" height="145px"></td>
						<td style="vertical-align: middle; text-align: center;" th:text="${content.sort}">XXX</td>
						<td style="vertical-align: middle; text-align: center;" th:text="${content.status=='1'?'启用':'禁用'}">XX</td>
						
						<td style="vertical-align: middle; text-align: center;">
							<button class="btn btn-sm bg-light-blue color-palette" data-toggle="modal" data-target="#editModal" th:onclick="|findOneById(${content.id})|">修改</button>
							<button class="btn btn-sm bg-red color-palette" th:onclick="|deleteById(${content.id});|">删除</button>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- Data End -->
			<!-- 分页组件 -->
			<div class="row">
				<div class="col-sm-6"><div class="dataTables_paginate paging_bootstrap" id="sample-table_paginate">
					<ul class="pagination">
						<li class="prev" th:if="${pageUtils.pageIndex>1}"><a href="#" th:onclick="'goPage('+${pageUtils.pageIndex-1}+')'">上一页</a></li>
						<li th:each="num:${pageUtils.numbers}" th:class="${pageUtils.pageIndex==num}? active"><a href="#" th:onclick="'goPage('+${num}+')'" th:text="${num}">1</a></li>
						<li class="next" th:if="${pageUtils.pageIndex<pageUtils.pageCount}"><a href="#" th:onclick="'goPage('+${pageUtils.pageIndex+1}+')'">下一页</a></li>
						<li class="next"><a href="#" th:text="|共${pageUtils.pageCount}页|">XX</a></li>
						<li class="next"><a href="#" th:text="|共${pageUtils.totalCount}条|">XX</a></li>
					</ul>
				</div>
				</div>
			</div>
			<!-- 分页组件 -->

			<!-- Paging Start -->
			<div class="clearfix">
				<div class="pull-left">
					<tm-pagination conf="paginationConf"></tm-pagination>
				</div>
				<div class="pull-right" style="height: 70px; line-height: 70px;">
					<button class="btn btn-sm btn-default" onclick="window.print();">打印</button>
				</div>
			</div>
			<!-- Paging End -->
		</div>
		<!-- Box Body End -->

		<!-- Modal Start -->
		<!--新增模态框-->
		<form id="addForm">
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">
							<small>广告新增</small>
						</h4>
					</div>
					<div class="modal-body">
						<table class="table table-bordered table-striped table-hover dataTable" width="800px" style="margin-bottom: 0px;">
							<tr>
								<td style="vertical-align: middle; text-align: center;">广告标题</td>
								<td style="vertical-align: middle; text-align: left;">
									<input type="text" class="form-control" name="title" placeholder="内容标题"></td>
							</tr>
							<tr>
								<td style="vertical-align: middle; text-align: center;">广告地址</td>
								<td style="vertical-align: middle; text-align: left;">
									<input type="text" class="form-control" name="url" placeholder="内容地址"></td>
							</tr>
							<tr>
								<td style="vertical-align: middle; text-align: center;">广告图片</td>
								<td style="vertical-align: middle; text-align: left;">
									<div class="width:100%;height:40px;line-height:40px;clear:both">
										<input type="file" id="file_image_add" name="image" style="display: inline-block;outline: none;">
										<input type="hidden" id="img_url_add" name="image"/>
										<input type="button" onclick="uploadImageFile_add()" value="上传图片" style="float: right"/>
									</div>
									<div>
										<img src="xx" id="upload_img_add" height="200px" width="100%" style="margin-top: 10px; border: 1px solid gray;">
									</div>
								</td>
							</tr>
							<tr>
								<td style="vertical-align: middle; text-align: center;">广告排序</td>
								<td style="vertical-align: middle; text-align: left;">
									<input type="text" class="form-control" name="sort" placeholder="内容排序"></td>
							</tr>
							<tr>
								<td style="vertical-align: middle; text-align: center;">广告状态</td>
								<td style="vertical-align: middle; text-align: left;">
									<input type="radio" name="status" value="1" checked="checked">启用
									<input type="radio" name="status" value="0">禁用
								</td>
							</tr>
							<tr>
								<td style="vertical-align: middle; text-align: center;">广告分类</td>
								<td style="vertical-align: middle; text-align: left;">
									<select class="form-control" name="categoryId" id="addselect">

									</select>
								</td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal" aria-hidden="true">关闭</button>
						<button type="button" class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="true" onclick="saveDatas()">新增</button>
					</div>
				</div>
			</div>
		</div>
		</form>

        <!--编辑模态框-->
		<form id="updateForm">
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">
							<small>内容编辑</small>
						</h4>
					</div>
					<div class="modal-body">
						<table class="table table-bordered table-striped table-hover dataTable" width="800px" style="margin-bottom: 0px;">
							<tr>
								<td style="vertical-align: middle; text-align: center;">内容标题</td>
								<td style="vertical-align: middle; text-align: left;">
									<input type="hidden" name="id" id="id"/>
									<input type="text" class="form-control" name="title" id="title" placeholder="内容标题"></td>
							</tr>
							<tr>
								<td style="vertical-align: middle; text-align: center;">内容地址</td>
								<td style="vertical-align: middle; text-align: left;">
									<input type="text" class="form-control" name="url" id="url" placeholder="内容地址"></td>
							</tr>
							<tr>
								<td style="vertical-align: middle; text-align: center;">内容图片</td>
								<td style="vertical-align: middle; text-align: left;">
									<div class="width:100%;height:40px;line-height:40px;clear:both">
									<input type="file" id="file_image_update" name="image" style="display: inline-block;outline: none;">
									<input type="button" value="上传图片" onclick="uploadImageFile_update()" style="float: right"/>
									</div>
									<div>
										<input type="hidden" id="img_url_update" name="image"/>
										<img src="#" id="update_img" height="200px" width="100%" style="margin-top: 10px; border: 1px solid gray;">
									</div>
								</td>
							</tr>
							<tr>
								<td style="vertical-align: middle; text-align: center;">内容排序</td>
								<td style="vertical-align: middle; text-align: left;">
									<input type="text" class="form-control" name="sort" id="sort" placeholder="内容排序"></td>
							</tr>
							<tr>
								<td style="vertical-align: middle; text-align: center;">内容状态</td>
								<td style="vertical-align: middle; text-align: left;">
									<input type="radio" id="firstradio" name="status" value="1">启用
									<input type="radio" id="secradio" name="status" value="0">禁用
								</td>
							</tr>
							<tr>
								<td style="vertical-align: middle; text-align: center;">类目主键</td>
								<td style="vertical-align: middle; text-align: left;">
									<select class="form-control" id="updarteselect" name="categoryId">

									</select>
								</td>
							</tr>

						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal" aria-hidden="true">关闭</button>
						<button type="button" class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="true" onclick="updateData()">保存</button>
					</div>
				</div>
			</div>
		</div>
		</form>

		<!-- Modal End -->
	</div>
	<!-- Page Wrapper End -->
	<!-- JQuery -->
	<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- SlimScroll -->
	<script type="text/javascript" src="/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script type="text/javascript" src="/plugins/fastclick/fastclick.min.js"></script>
	<!-- AdminLTE -->
	<script type="text/javascript" src="/plugins/adminlte/js/adminlte.min.js"></script>
	<!-- zeroModal -->
	<script type="text/javascript" src="/plugins/zeroModal/js/zeroModal.min.js"></script>
	<!-- iCheck -->
	<script type="text/javascript" src="/plugins/iCheck/icheck.min.js"></script>
	<!-- AngularJS -->
	<script type="text/javascript" src="/plugins/angular/angular.min.js"></script>
	<!-- Paging -->
	<script type="text/javascript" src="/plugins/tm-pagination/js/pagination.min.js"></script>
	<!-- AdminConfig -->
	<script type="text/javascript" src="/js/adminConfig.js"></script>
	<!-- Base -->
	<script type="text/javascript" src="/js/base_pagination.js"></script>
	<!-- Service -->
	<script type="text/javascript" src="/js/service/uploadService.js"></script>
	<script type="text/javascript" src="/js/service/tbContentCategoryService.js"></script>
	<script type="text/javascript" src="/js/service/tbContentService.js"></script>
	<!-- Controller -->
	<script type="text/javascript" src="/js/controller/baseController.js"></script>
	<script type="text/javascript" src="/js/controller/tbContentController.js"></script>
	<script type="text/javascript">
		//跳转页面
		function goPage(pageIndex) {
			$("#queryForm").attr("action","/content/page/"+pageIndex);
			$("#queryForm").submit();
		}

		$(function (){
			$.getJSON("/content_category/list",function (result){
				if(result.code==200){
					var datas=result.data;
					for(var i=0;i<datas.length;i++){
						var content_category=datas[i];
						$("#addselect").append("<option value='"+content_category.id+"'>"+content_category.name+"</option>");
					}
				}
			});
		});

		/**
		 * 新增模态框中的上传图片
		 */
		function uploadImageFile_add(){
			var formData = new FormData();
			formData.append("file", document.getElementById("file_image_add").files[0]);
			$.ajax({
				url:"/upload/uploadImg",
				type:"post",
				data: formData,
				/**
				 *必须false才会自动加上正确的Content-Type
				 */
				contentType: false,
				/**
				 * 必须false才会避开jQuery对 formdata 的默认处理
				 * XMLHttpRequest会对 formdata 进行正确的处理
				 */
				processData: false,
				success:function(result){
					//alert(JSON.stringify(result));
					if(result.code==200){
						//图片回显
						$("#img_url_add").val(result.data); //藏值--新增
						$("#upload_img_add").prop("src",result.data); //回显
					}else{
						alert("服务器异常");
					}
				}
			});
		}

		function saveDatas(){
			var data=$("#addForm").serialize();
			$.post("/content/add",data,function (result){
				if(result.code==200){
					alert("新增成功");
					window.location.reload();
				}else{
					alert("服务器异常，稍后再试~");
				}
			});
		}

		function findOneById(id){
			$.getJSON("/content/findOne/"+id,function(result){
				if(result.code==200){
					var data=result.data;
					//alert(JSON.stringify(data));
					$("#id").val(data.id); //更新藏值
					$("#title").val(data.title);
					$("#url").val(data.url);
					$("#sort").val(data.sort);
					//回显启用禁用
					if(data.status==1){
						$("#firstradio").prop("checked",true);
					}else{
						$("#secradio").prop("checked",true);
					}
					//下拉框
					$.getJSON("/content_category/list",function (result){
						if(result.code==200){
							var datas=result.data;
							for(var i=0;i<datas.length;i++){
								var content_category=datas[i];
								$("#updarteselect").append("<option value='"+content_category.id+"'>"+content_category.name+"</option>");
							}
							//回显下拉框
							$("#updarteselect").val(data.categoryId);
						}
					});
					//图片回显
					$("#update_img").prop("src",data.image);
					$("#img_url_update").val(data.image); //没有更新图片原地址
				}else{
					alert("服务器异常，稍后再试~");
				}
			});
		}

		function uploadImageFile_update(){
			var formData = new FormData();
			formData.append("file", document.getElementById("file_image_update").files[0]);
			$.ajax({
				url:"/upload/uploadImg",
				type:"post",
				data: formData,
				/**
				 *必须false才会自动加上正确的Content-Type
				 */
				contentType: false,
				/**
				 * 必须false才会避开jQuery对 formdata 的默认处理
				 * XMLHttpRequest会对 formdata 进行正确的处理
				 */
				processData: false,
				success:function(result){
					//alert(JSON.stringify(result));
					if(result.code==200){
						//图片回显
						$("#img_url_update").val(result.data); //藏值--更新
						$("#update_img").prop("src",result.data); //回显
					}else{
						alert("服务器异常");
					}
				}
			});
		}

		function updateData(){
			var data=$("#updateForm").serialize()+"&_method=put";
			$.post("/content/update",data,function (result){
				if(result.code==200){
					alert("更新成功");
					window.location.reload();
				}else{
					alert("服务器异常，稍后再试~");
				}
			});
		}

		function deleteById(id){
			if(confirm("确认要删除吗？")){
				$.ajax({
					url:"/content/delete/"+id,
					dataType:"json",
					type:"delete",
					success:function (result) {
						if(result.code==200){
							alert("删除成功");
							window.location.reload();
						}else if(result.code==800){
							alert("数据使用中，暂时不能删除~");
						}else{
							alert("服务器异常，稍后再试~");
						}
					}
				});
			}
		}

	</script>
</body>
</html>
