/*!
 * 功能：果然新鲜 - 登录、注册、忘记密码：通用头部样式
 */

* {
	margin: 0;
	padding: 0;
}
.logo {
	padding-top: 10px;
}
.logo>img {
	float: left;
	margin-top: 11px;
	width: 156.5px;
	height: 41px;
}
.logo>h1 {
	float: left;
	display: block;
	margin-left: 20px;
	width: 260px;
	height: 35px;
	font-weight: 400;
	line-height: 35px;
}