/*!
 * 功能：果然新鲜 - 我的收藏
 */


/*!
 * 功能：当前位置导航栏
 */

.position {
	padding-top: 1pc;
	padding-bottom: 14px;
	width: 75pc;
	height: 20px;
}
.position>span {
	color: #333;
	font-weight: 700;
}

/*!
 * 功能：右侧功能头样式
 */

.tab {
	width: 60pc;
	height: 43px;
	border-bottom: 1px solid #f5f5f5;
}
.tab>li:nth-child(1) {
	float: left;
}
.tab>li:nth-child(1),
.tab>li:nth-child(2) {
	margin-right: 10px;
	margin-left: 10px;
	width: 75pt;
	height: 42px;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 42px;
}
.tab>li:nth-child(2) {
	float: right;
}
.tab>li:nth-child(2):hover {
	cursor: pointer;
}
.detailed>div:nth-child(1) {
	float: left;
	width: 75pt;
	height: 24px;
}
.detailed>div:nth-child(2) {
	float: left;
	width: 434px;
	height: 24px;
}
.detailed>div:nth-child(3),
.detailed>div:nth-child(4),
.detailed>div:nth-child(5) {
	float: left;
	width: 125px;
	height: 24px;
}
.detailed>div>span {
	display: block;
	width: 100%;
	height: 24px;
	text-align: center;
	line-height: 24px;
}
.show {
	display: block;
}
.none {
	display: none;
}
.orderlist {
	margin-top: 20px;
	width: 60pc;
}
.orderlist>div {
	overflow: hidden;
	margin-bottom: 20px;
	width: 915pt;
}
.ordertitle {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	width: 948px;
	height: 24px;
	border-bottom: 2px solid #fff;
	background: #fafafc;
}
.ordertitle:hover {
	background: #f5f5f5;
	cursor: pointer;
}
.ordertitle>div {
	float: left;
	width: 200px;
}
.ordertitle>a>div,
.ordertitle>div {
	margin-left: 5px;
	height: 24px;
	line-height: 24px;
}
.ordertitle>a>div {
	float: right;
	margin-right: 9pt;
	padding-right: 22px;
	padding-left: 22px;
	width: 50px;
}
.ordertitle>div>span:nth-child(1) {
	color: #bdbdbd;
}
.orderbody {
	display: none;
	overflow: hidden;
	padding-top: 10px;
	width: 915pt;
}
.shopshowbox {
	margin-top: 15px;
	width: 915pt;
}
.shopshowbox>ul {
	overflow: hidden;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	width: 980px;
}
.shopshowbox>ul>a>li {
	position: relative;
	float: left;
	margin-bottom: 25px;
	width: 196px;
	height: 258px;
}
.shopbox {
	position: absolute;
	top: 0;
	padding: 15px;
	width: 139px;
	height: 225px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	box-shadow: #333;
	box-shadow: 0 0 0 #ccc;
}
.shopbox:hover {
	position: absolute;
	top: -3px;
	box-shadow: 0 7px 10px #ccc;
	transition: all .1s linear;
}
.shopbox>img {
	width: 139px;
	height: 139px;
}
.shopbox>h2 {
	display: block;
	overflow: hidden;
	padding: 0;
	width: 134px;
	height: 42px;
	color: #666;
	text-overflow: ellipsis;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
}
.shopbox>div {
	width: 134px;
	height: 17px;
}
.shopbox>div>span:nth-child(1) {
	float: left;
	display: block;
	width: 60px;
	height: 17px;
	color: #c61722;
	text-align: left;
	line-height: 17px;
}
.shopbox>div>span {
	float: right;
	display: block;
	overflow: hidden;
	width: 74px;
	height: 17px;
	color: #666;
	text-align: right;
	text-overflow: ellipsis;
	line-height: 17px;
}
.display {
	overflow: hidden;
	width: 60pc;
}
.display>li>div h1 {
	margin-top: 140px;
	margin-bottom: 30px;
	width: 60pc;
	color: #797979;
	text-align: center;
}
.tips {
	width: 60pc;
	height: 183px;
}
.tips>img {
	margin-left: 310px;
	width: 340px;
	height: 87pt;
}