/*!
 * 功能：果然新鲜 - 我的订单
 */


/*!
 * 功能：当前位置导航栏
 */

.position {
	padding-top: 1pc;
	padding-bottom: 14px;
	width: 75pc;
	height: 20px;
}
.position>span {
	color: #333;
	font-weight: 700;
}

/*!
 * 功能：右侧功能头样式
 */

.tab {
	width: 60pc;
	height: 43px;
	border-bottom: 1px solid #f5f5f5;
}
.tab>li {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	width: 75pt;
	height: 42px;
	border-bottom: 0 solid #00c3f5;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 42px;
}
.tab>li:nth-child(1) {
	border-bottom: 2px solid #c61722;
	color: #c61722;
}
.tab>li:hover {
	cursor: pointer;
}
.display {
	overflow: hidden;
	width: 60pc;
}
.display>li>div {
	width: 340px;
}
.display>li>div h1 {
	margin-top: 71px;
	margin-bottom: 30px;
	width: 60pc;
	color: #797979;
	text-align: center;
}
.tips {
	width: 60pc;
	height: 183px;
}
.tips>img {
	margin-left: 310px;
	width: 340px;
	height: 87pt;
}
.display>li {
	display: none;
	width: 60pc;
}
.display>li:nth-child(1) {
	display: block;
}
.detailed {
	margin-top: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	width: 950px;
	height: 33px;
	background: #fafafc;
}
option {
	display: block;
	padding: 0 2px 1px;
	min-height: 1.2em;
	font-weight: 400;
}
option,
select {
	outline: 0;
	white-space: pre;
}
.detailed>div:nth-child(1) {
	float: left;
	width: 90pt;
	height: 31px;
}
.detailed>div:nth-child(1).select:before {
	top: 11px;
}
.detailed>div:nth-child(2) {
	float: left;
	width: 25pc;
	height: 33px;
}
.detailed>div:nth-child(3),
.detailed>div:nth-child(4),
.detailed>div:nth-child(5) {
	float: left;
	width: 135px;
	height: 33px;
}
.detailed>div>span {
	display: block;
	width: 100%;
	height: 33px;
	text-align: center;
	line-height: 33px;
}
.show {
	display: block;
}
.none {
	display: none;
}
.orderlist {
	margin-top: 20px;
	width: 60pc;
}
.orderlist>div {
	margin-bottom: 20px;
	width: 958px;
	height: 188px;
	border: 1px solid #f5f5f5;
}
.ordertitle {
	margin-top: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	width: 948px;
	height: 24px;
	background: #fafafc;
}
.ordertitle>div {
	float: left;
	margin-left: 5px;
	width: 200px;
	height: 24px;
	line-height: 24px;
}
.ordertitle>div>span:nth-child(1) {
	color: #bdbdbd;
}
.orderbody {
	width: 958px;
	height: 8pc;
	border-top: 1px solid #f5f5f5;
}
.orderbody>div:nth-child(1) {
	float: left;
	width: 543px;
	height: 127px;
	border-right: 1px solid #f5f5f5;
}
.orderbody>div:nth-child(2) {
	color: #c61722;
}
.orderbody>div:nth-child(2),
.orderbody>div:nth-child(3),
.orderbody>div:nth-child(4) {
	float: left;
	width: 137px;
	height: 127px;
	border-right: 1px solid #f5f5f5;
	text-align: center;
	font-size: 14px;
	line-height: 127px;
}
.orderbody>div>div {
	float: left;
}
.orderbody>div>div,
.orderbody>div>div>img {
	width: 127px;
	height: 127px;
}
.orderbody>div>span {
	float: left;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	margin-top: 51px;
	width: 25pc;
	height: 25px;
	text-align: center;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 25px;
}