/*!
 * 功能：果然新鲜 - 订单确认
 */


/*!
 * 功能：商品结算页面
 */

.mypay {
	margin-bottom: 25px;
}

/*!
 * 功能：收货地址
 */

.address {
	margin-top: 0;
	padding-top: 0;
}
.address .address-item {
	float: left;
	box-sizing: border-box;
	margin-right: 63px;
	padding: 15px 10px;
	width: 252px;
	height: 151px;
	border: 1px solid transparent;
	border-right: 1px solid #f0f0f0;
	border-left: 1px solid #f9f9f9;
	background: url(../img/page-buy/address-bg.png) no-repeat;
	opacity: .9;
}
.address .address-item:hover {
	border: 1px solid #c61722;
}
.address .address-item.active {
	background: url(../img/page-buy/address-ok.png) no-repeat;
}
.address .address-item:nth-child(4),
.address .address-item:nth-child(8),
.address .address-item:nth-child(12),
.address .address-item:nth-child(16) {
	margin-right: 0;
}
.address .address-item .title {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 25px;
	line-height: 25px;
}
.address .address-item .title>span {
	display: inline-block;
}
.address .address-item .title>span:nth-child(1) {
	float: left;
	width: 25%;
	color: #444;
	font-weight: 700;
	font-size: 14px;
}
.address .address-item .title>span:nth-child(2) {
	width: 50%;
	color: #333;
	font-weight: bolder;
	font-size: 14px;
}
.address .address-item .title>span:nth-child(3) {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	float: right;
	padding: 0 2px;
	width: 25%;
	border-radius: 5px;
	background: #ccc none repeat scroll 0 0;
	color: #fff;
	text-align: center;
	text-decoration: none;
	opacity: .7;
}
.address .address-item .info {
	display: -webkit-box;
	overflow: hidden;
	margin: 10px 0;
	padding: 0;
	width: 100%;
	height: 50px;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 25px;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.address .address-item .flag {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.address .address-item .flag>div {
	float: left;
}
.address .address-item .flag>div:nth-child(1)>span {
	display: block;
	padding: 0 10px;
	border-radius: 5px;
	background: #f7ebeb;
}
.address .address-item .flag>div:nth-child(2) {
	float: right;
}
.address .address-item .flag>div:nth-child(2) a:hover {
	color: #6495ed;
	text-decoration: none;
}

/*!
 * 功能：选择支付方式
 */

.pay-type .pay {
	width: 100%;
	height: auto;
}
.pay-type .pay li {
	position: relative;
	float: left;
	margin-right: 20px;
	padding-right: 5px;
	padding-left: 5px;
	height: 50px;
	border: 1px solid #f0f0f0;
	vertical-align: middle;
	line-height: 50px;
}
.pay-type .pay li:hover {
	border: 1px solid #c61722;
	cursor: pointer;
}
.pay-type .pay img {
	display: inline-block;
	overflow: hidden;
	margin: 5px auto;
	width: 54px;
	height: 36px;
}
.pay-type .pay li span {
	float: right;
	display: block;
	margin-left: 5px;
	height: 50px;
	line-height: 50px;
}
.pay-type .pay li.active {
	border: 1px solid #c61722;
}
.pay-type .pay li.active i {
	position: absolute;
	right: 0;
	bottom: 0;
	overflow: hidden;
	width: 13px;
	height: 13px;
	background: url(../img/page-buy/choosed.png) no-repeat;
}

/*!
 * 功能说明：确认订单信息
 */

.shopping-cart,
.shopping-cart-title {
	display: block;
	margin: 0;
	padding: 0;
	outline: 0;
}
.shopping-cart-title {
	width: 100%;
	height: 45px;
}
.shopping-cart-item {
	float: left;
	display: block;
	margin-top: 15px;
	padding: 0;
	width: 100%;
	height: 75pt;
	outline: 0;
	border: 1px solid #e6e6e6;
}
.shopping-cart-title1,
.shopping-cart-title2,
.shopping-cart-title3,
.shopping-cart-title4,
.shopping-cart-title5,
.shopping-cart-title6,
.shopping-cart-title7,
.shopping-cart-title8 {
	float: left;
	overflow: hidden;
	height: 45px;
	background: #f9f9f9!important;
	vertical-align: middle;
	text-align: center;
	line-height: 45px;
}
.shopping-cart-item1,
.shopping-cart-item2,
.shopping-cart-item3,
.shopping-cart-item4,
.shopping-cart-item5,
.shopping-cart-item6,
.shopping-cart-item7,
.shopping-cart-item8 {
	float: left;
	overflow: hidden;
	height: 75pt;
	vertical-align: middle;
	text-align: center;
	line-height: 75pt;
}
.shopping-cart-item1,
.shopping-cart-title1 {
	width: 0;
}
.shopping-cart-item2,
.shopping-cart-title2 {
	width: 75pt;
}
.shopping-cart-item2>img {
	width: 5pc;
	height: 5pc;
}
.shopping-cart-item3,
.shopping-cart-title3 {
	width: 370px;
}
.shopping-cart-item4,
.shopping-cart-item5,
.shopping-cart-title4,
.shopping-cart-title5 {
	width: 150px;
}
.shopping-cart-item6 {
	color: #c61722;
	font-weight: 600;
	font-size: 15px;
}
.shopping-cart-item6,
.shopping-cart-title6 {
	width: 150px;
}
.shopping-cart-item7,
.shopping-cart-title7 {
	width: 75pt;
}
.shopping-cart-item8,
.shopping-cart-title8 {
	width: 180px;
}
.shopping-cart-item2>img {
	margin-top: 10px;
	outline: 0;
	border: none;
}
.shopping-cart-item3>a {
	display: -webkit-box;
	overflow: hidden;
	margin-top: 2pc;
	width: 100%;
	height: 36px;
	color: #333;
	text-align: left;
	text-decoration: none;
	text-overflow: ellipsis;
	font-weight: lighter;
	font-size: 14px;
	line-height: 18px;
	-webkit-line-clamp: 2;
}
.shopping-cart-item8>span:hover {
	text-decoration: underline;
	cursor: pointer;
}
.count-control {
	margin-top: 37.5px;
	margin-left: 14px;
	width: 7pc;
	height: 25px;
	border: 1px solid #fefefe;
	font-weight: lighter;
	font-size: 9pt;
}
.count-control-center,
.count-control-left,
.count-control-right {
	float: left;
	display: block;
	overflow: hidden;
	width: 30px;
	height: 25px;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	line-height: 25px;
}
.count-control-left,
.count-control-right {
	opacity: 0;
	cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.count-control-left {
	border-right: 1px solid #bbb;
}
.count-control-right {
	border-left: 1px solid #bbb;
}
.count-control-left:hover,
.count-control-right:hover {
	background-color: #ccc;
}
.count-control-center {
	width: 50px;
}
.shopping-cart-bottom {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 40px;
	outline: 0;
	line-height: 40px;
}
.shopping-cart-bottom1,
.shopping-cart-bottom2,
.shopping-cart-bottom3,
.shopping-cart-bottom4,
.shopping-cart-bottom5,
.shopping-cart-bottom6,
.shopping-cart-bottom7,
.shopping-cart-bottom8 {
	float: left;
	margin-top: 15px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.shopping-cart-bottom1,
.shopping-cart-bottom2 {
	width: 75pt;
	text-align: left;
}
.shopping-cart-bottom1 {
	width: 225px;
	background: #f9f9f9!important;
}
.shopping-cart-bottom1 input {
	padding-left: 10px;
	width: 135px;
	height: 20px;
	outline: 0;
	line-height: 20px;
}
.shopping-cart-bottom2,
.shopping-cart-bottom3 {
	width: 0;
	background: #f9f9f9!important;
}
.shopping-cart-bottom4,
.shopping-cart-bottom5 {
	width: 191.666666px;
	background: #f9f9f9!important;
}
.shopping-cart-bottom6 {
	width: 345px;
	background: #f9f9f9!important;
}
.shopping-cart-bottom7 {
	width: 75pt;
	background: #f9f9f9!important;
}
.shopping-cart-bottom8 {
	width: 75pt;
}
.shopping-cart-bottom7>span {
	color: #c61722;
}
.shopping-cart-bottom8>a {
	display: block;
	width: 150px;
	height: 40px;
	background-color: #b0b0b0;
	color: #fff;
	text-decoration: none;
	font-size: 1pc;
	line-break: 30px;
}
.shopping-cart-bottom8>a:hover {
	background-color: #bfbfbf;
}